{% extends 'base-empty.html.twig' %}


{% block content %}<div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block">
              <img class="img-fluid" src="{{ asset('image/logo.png') }}"/></div>
              <div class="col-lg-6 align-self-center">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Your-Shop</h1>
                  </div>
                  <form class="user" method="post">
                    {% if notification is defined %}
                    {% include 'helper/notification.html.twig' %}
                    {% endif %}
                    <div class="form-group">
                      <input type="text" name="nTienda" class="form-control form-control-user" id="nTienda" placeholder="Nombre de tienda">
                    </div>
                    <div class="form-group">
                      <input type="text" name="cif" class="form-control form-control-user" maxlength="9" id="cif" placeholder="CIF (A12345678)">
                    </div>
                    <div class="form-group">
                      <input type="email" name="correo" class="form-control form-control-user" id="correo" placeholder="ejemplo@ejemplo.com">
                    </div>
                    <div class="form-group">
                      <input type="text" name="nUsuario" class="form-control form-control-user" id="usuario" placeholder="Nombre de usuario">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" class="form-control form-control-user" id="password" placeholder="Contraseña">
                    </div>
                    {% if notification is defined and notification is not empty %}
                        {% include 'helper/notification.html.twig' %}
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      Registrar
                    </button>
                    <hr>
                  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    {% endblock %}